body {
    /*Permiten que no haya espacios a los lados de la página. Da la impresión de que el contenido abarca toda
     la pantalla*/
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.box {
    width: 30%;
    height: 100;
    background-color: blue;
    border: 5px solid black;
    color: white;
}

.box-padding {
    padding: 15px 50px;
}

.box-margin {
    margin: 15px;
}

.inline-box {
    display: inline;
    background-color: cadetblue;
}

.inline-block-box {
    display: inline-block;
    background-color: chocolate;
}

/*Aquí empieza lo del archivo ejemplo.html*/

header {
    background-color: rgb(4, 2, 114); /*Le damos un color sólido a todo el header*/
}

.box-ejemplo {
    display: inline-block;
    /*background-color: aquamarine; Lo quité para que se viera todo azul completo (puesto en el header)*/
    margin: 0;
    padding: 1%;
    font-size: initial; /*Se utiliza para restablecer el tamaño de la fuente*/
    vertical-align: top; /*Se alinea con la parte superior*/
    color: white; /*Por el fondo, ponemos las letras en blanco*/
}

.logo {
    width: 25%;
    height: 70px; /*Se establece que tendrá un alto de 40 pixeles (como es un header queremos que siempre mida lo mismo de alto)*/
    padding: 0 0 0 1%; /*Le da un espacio pequeño al lado izquierdo de la imagen*/
}

.title {
    width: 43%;
    text-align: center;
    line-height: 40px; /*Modificamos la altura de la línea para que el título se coloque en el centro (verticalmente).*/
    font-size: 20px;
}

.contact-link {
    width: 25%;
    text-align: right;
    line-height: 40px; /*Modificamos la altura de la línea para que los enlaces se coloquen en el centro (verticalmente).*/
}

.logo-image {
    margin-top: 2%; /*Con esta línea hacemos que la imagen se coloque en medio del header*/
    height: 80%; /*Abarca el 80% de lo alto, para que tenga espacio a los lados*/
}

.nav-link {
    color: white; /*Modificamos el color del enlace*/
    font-size: 16px;
}